{% extends "base.html" %}


{% load staticfiles %}


{% block title %}ITBursa Контакты{% endblock title %}


{% block contact_active %}active{% endblock contact_active %}


  {% block content %}
    <div class="jumbotron">
      <div class="col-sm-4">
        <h1>Director</h1>
        <p>
          Name: <span class="name">Иванов Сергей Петрович</span>
          <br> Skype:
          <span class="skype">petrovicj1</span>
          <br>
          <u class="courses">Email:petrovicj1@gmail.com</u>
          <br> Phone:
          <span class="phone">066-504-5038</span>
          <br>
        </p>
      </div>
      <div class="col-sm-4">
        <img class="photo" src="{% static 'images/screenshot-hameleons.com 2015-12-22 21-05-50.png' %}" id="dir">
      </div>
      <div class="col-sm-4">
        <h1>Founder</h1>
        <p>
          Name: <span class="name">Аксенова Татьяна Ивановна</span>
          <br> Skype:
          <span class="skype">aksenova3</span>
          <br> Email:aksenova3@gmail.com
          <br> Phone:
          <span class="phone">066-504-50-38</span>
          <br>
        </p>
      </div>
      <div class="col-sm-4">
        <img class="photo" src="{% static 'images/screenshot-hameleons.com 2015-12-22 21-06-00.png' %}" id="manager">
      </div>
      <div>
        <h1>Manager</h1>
        <p>
          Name: <span class="name">Смирнов Николай</span>
          <br> Skype:
          <span class="skype">smairnov</span>
          <br> Email:smairnov@gmail.com
          <br> Phone:
          <span class="phone">066-504-50-38</span>
          <br>
        </p>
      </div>
    </div>
  {% endblock content %}
